@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo|Lato|Merriweather+Sans|Montserrat|Open+Sans|Rubik|Sarabun|Ubuntu');

body {
  background-color: #6f6f6f;
  padding: ;
  margin: 0;
}
.topMenu {
  width: 100%;
  background-color: #ddd;
  display: inline-block;
}
.topMenu div {
}
.backSt {
  font-family: 'roboto', sans-serif;
  display: inline-block;
}
h4 {
  position: relative;
  font-family: 'montserrat', sans-serif;
  display: inline-block;
  font-size: 200%;
  margin: 0;
  left: 10px;
}
.plusSize {
  font-size: 300%;
}
.adminLabel {
  margin-right: 5%;
  display: inline-block;
}
.con {
  position: relative;
  float: right;
  right: 50px;
  width: auto;
  display: inline-block;
}
.topMenu h5 {
  position: relative;
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
  font-size: 110%;
  float: left;
  display: inline-block;
  margin: 0;
  color: ;
  vertical-align: middle;
  line-height: 57px;
}
.cnxInd {
  position: relative;
  border-radius: 50%;
  background-color: gray;
  display: block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin: 5px;
  top: 10px;
  float: right;
}

/* Imobbiles Editor */
.destImv {
  display: none;
}
.imvSecManage {
  position: relative;
  display: inline-block;
  height: 30%;
  left: 50px;
}
.selBtn {
  color: #fff;
  border: none;
  background-color: #1d4aa7;
  font-size: 150%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.editor {
  border: 1px solid #000;
  display: block;
  height: 500px;
  width: 600px;
}
#imvReg {
  display: inline-block;
}
.btnsForm {
  display: inline-block;
}
.phoEdit {
  text-align: center;
  display: inline-block;
  float: left;
  width: 50%;
  height: 40%;
  border-bottom: 1px solid #000;
}
.imageUp { /* Image Upload Button */
  position: relative;
  top: 30%;
  margin: auto;
  padding: 10px 20px;
  font-size: 120%;
}
.phoCont { /* Squares Container */
  position: relative;
  bottom: -40%;
  margin: auto;
}
.imvPho { /* Square Photos Images (5) */
  position: relative;
  height: 48px;
  width: 48px;
  border: 1px solid #000;
  background-color: #c5c5c5;
  display: inline-block;
}


/* Specs */
#specRows {
  position: relative;
  bottom: 0;
  width: 50%;
  height: 0;
}
#specRows.input {
  width: 40%;
}
.specRowEdit {
  /* Text */
  /* padding: 2%; */
  color: #000;
  width: 48%;
  display: inline-block;
  margin: 9px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
}
.specInps, .rgtSpecs {
  position: relative;
  top: 1%;
  float: right;
  height: 30px;
  border: 1px solid #000;
  width: 50%;
}
.sbmtBtn { /* Div | Botão "Enviar" */
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #1d4aa7;
  left: 0;
  padding: 0;
}
.buttonSbmt { /*Submit Button */
  color: #fff;
  font-size: 150%;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: inherit;
}
.buttonSbmt, .sbmtBtn:hover {
  cursor: pointer;
}
/* Right Side Specs */
.rgtSdSpecs {
  position: relative;
  display: block;
  width: 49.8%;
  height: 100%;
  float: right;
  border-left: 1px solid #000;
}
.rgtSpecs {
  position: relative;
  height: 30px;
  width: 50%;
  display: block;
  float: right;
}
#panelNum {
  display: none;
}
/* Show Selected Imobbile Info */
.imvActual_info {
  font-family: 'Rubik', sans-serif;
  padding-top: 10px;
  font-weight: lighter;
  border-top: 1px solid #000;
}
.tt {
  font-size: 130%;
  display: inline-block;
}
.pn_id {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  display: inline-block;
  margin-left: 5%;
  font-size: 110%;
}
.submitForm {
  height: 0;
  width: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Confirmation Modal */
.confModal {
  position: relative;
  height: 350px;
  width: 70%;
  background-color: gray;
}
.footer {
  width: 100%;
  background-color: #1d4aa7;
}
.confModal h1 {

}
.footer h2{

}
.footer button {
  background-color: #e61e1e;
  border: none;
}

/* Register Imobbile */
.regBtn {
  font-family: 'Sarabun', sans-serif;
  float: left;
  font-size: 140%;
  font-weight: bolder;
  color: #ddd;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  height: 80px;
  width: 300px;
  background-color: #1d4aa7;
  text-shadow: 0 0 10px #000;
  transition: .3s;
}
.regBtn:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 20px #fff;
}

.imvReg {
  display: none;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  border: 1px solid #000;
}
.imvReg form {
  display: inline-block;
  float: left;
  height: 100%;
}
.regCol { /* 3 Register Specs Columns */
  position: relative;
  float: left;
  display: inline-block;
  padding: 10px;
  width: 450px;
} .col1 {
  width: 449px;
  border-right: 1px dashed #000;
}
.regSpec { /* Inputs Row */
  position: relative;
  height: 30px;
  width: 100%;
  float: left;
  display: inline-block;
  margin: 5px 0;
  line-height: 30px;
}
.regInp, .imvSel { /* Register Input */
  font-family: 'Rubik', sans-serif;
  position: relative;
  float: right;
  width: 50%;
  font-size: 110%;
  color: #fff;
  height: 25px;
  transition: .5s;
  margin-bottom: 5px;
  background-color: #1d4aa7;
  border: 1px solid #000;
}
.desc {
  line-height: 25px;
  height: 50px;
}
.regInp:focus {
  background-color: #4264aa;
}
.imvSel {
  height: 30px;
}
.spec {
  width: 80px;
  right: 75px;
}


.check {
  display: none;
}
.chkbx {
  cursor: pointer;
}
.checkbox {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  display: block;
  transition: .5s;
  float: right;
  color: #fff;
  font-size: 140%;
  vertical-align: middle;
  right: 50px;
  margin-right: 60px;
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 8%;
}
#mark {
  font-family: 'Baloo Bhai', cursive;
  font-weight: bolder;
  text-shadow: 0 0 5px #fff;
}
#opt {
  display: ;
}
input[type=checkbox] {
  display: none;
}
.ownerInfo {
  border-top:1px solid #000;
  height: 100%;
}
.fwLine { /* Seperator */
  position: relative;
  display: inline-block;
  height: 1px;
  width: 100%;
  margin: 3px 0;
  border-top: 1px dashed #000;
}
.submit_regBtn, .closeImvReg{
  position: relative;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  font-family: 'Rubik', sans-serif;
  border: none;
  color: #fff;
  width: 100%;
  height: 50px;
  background-color: #1d4aa7;
  font-size: 150%;
}
.closeImvReg {
  background-color: #e61e1e !important;
}

/* Immobiles */
.imv {
	width: auto;
	height: 25%;
}
.imvs {
  position: relative;
  border-left: 1px solid black;
  font-family: 'Lato', sans-serif;
  display: none;
  float: right;
  height: 100%;
  width: 30%;
}
#imoveis {
  text-align: center;
  vertical-align: top;
  border-bottom: 1px dashed black;
}
#immobile {
  font-family: 'Lato', sans-serif;
  border: 1px solid blue;
}
#immobile h5, h6 {
  font-family: 'Lato', sans-serif;
  font-size: 105%;
  display: block;
  margin: 0;
}
#immobile h5 {

}
#end, #num, #cep {
  /* float: left; */
}
#nReg {
  float: right;
}